game-container {
    display: block;
    margin-left:auto;
    margin-right: auto;
    background-color: green;
}

canvas {
    position:relative;
    display: block;
    background-color: grey;
}
